# Default values for host customization
host_name: server-name
host_domain: domain-name
host_ip: ipv4-ip/26
host_gw: ipv4-gateway
dns_servers: dns-server1, dns-server2
dns_search: domain1, domain2, domain3

whitelist_servers: |
            trusted_host1/32
            trusted_host2/32

master_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          3363XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX37663530
          66356XXXXXXXXXXXXXXXXXXXXX

my_backup_user: backup
my_backup_pass: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          3363XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX37663530
          66356XXXXXXXXXXXXXXXXXXXXX

postfix_user: postfix
postfix_pass: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          3363XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX37663530
          66356XXXXXXXXXXXXXXXXXXXXX

dovecot_user: dovecot
dovecot_pass: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          3363XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX37663530
          66356XXXXXXXXXXXXXXXXXXXXX

privkey_pem: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          3363XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX37663530
          66356XXXXXXXXXXXXXXXXXXXXX

cert_pem: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          3363XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX37663530
          66356XXXXXXXXXXXXXXXXXXXXX

chain_pem: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          3363XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX37663530
          66356XXXXXXXXXXXXXXXXXXXXX

fullchain_pem: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          3363XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX37663530
          66356XXXXXXXXXXXXXXXXXXXXX

opendkim_keytable: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          3363XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX37663530
          66356XXXXXXXXXXXXXXXXXXXXX

opendkim_signingtable: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          3363XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX37663530
          66356XXXXXXXXXXXXXXXXXXXXX

opendkim_trustedhosts: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          3363XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX37663530
          66356XXXXXXXXXXXXXXXXXXXXX

opendkim_txt: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          3363XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX37663530
          66356XXXXXXXXXXXXXXXXXXXXX

opendkim_key: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          3363XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX37663530
          66356XXXXXXXXXXXXXXXXXXXXX
